.bill {
	height: 55px;
	background-color: #FAFAFA;
	padding-left: 10px;
}

.fore {
	float: left;
	position: relative;
	padding-left: 20px;
	line-height: 55px;
	font-size: 16px;
	font-weight: 700;
	color: #369736;
}

.fore i {
	position: absolute;
	left: 20px;
	top: 16px;
	height: 30px;
	width: 30px;
	background: url(../images/money.png) no-repeat;
}

.bill-right {
	float: right;
	padding-right: 25px;
	font: 400 30px/55px "微软雅黑";
	color: #C1C1C1;
}

.margTop-3 {
	margin-top: 3px;
}
